$color: #939197;
$hoff: 0;
$voff: 4px;
$blur: 20px;
$spread: 0;

.noDisplay {
	display: none;
}

.gradientOptions {
	// margin: 12px;
	
}

.gradientType {
	display: inline-block;
}

.gradient_designer {
	padding: 0 50px 50px;
	overflow: auto;
}

.CircularGaugeLinearGradientDegreeContainer {
	padding-right: 40px;
}

.CircularGaugeLinearGradientDegreeContainer p {
    margin: 0;
    text-align: center;
}

#glossyGauge {
    margin: 0 auto;
    text-align: center;
    width: 180px;
}


.gradientPreview {
    border: 1px solid black;
    height: 250px;
    margin: 20px 0 50px 20px;
    padding: 0;
    width: 795px;
    @include single-box-shadow($color, $hoff, $voff, $blur, $spread);
}

.gdContainer {
    float: left;
    margin-right: 30px;
}

.codePreview {
  float: left;
  width: 940px;
}

.codePreview h2 {
	margin-top: 0;
}


pre.prettyprint {
  padding: 14px;
  background-color: #efefef;
  color: #fff;
  margin-left: 25px;
  overflow: auto;
}