$color: #939197;
$hoff: 0;
$voff: 4px;
$blur: 20px;
$spread: 0;

.gradientPreview {
    border: 1px solid black;
    height: 250px;
    margin: 20px 0 50px 20px;
    padding: 0;
    width: 795px;
    @include single-box-shadow($color, $hoff, $voff, $blur, $spread);
}

.gdContainer {
    float: left;
    margin-right: 30px;
}

.codePreview {
  float: left;

}


pre.prettyprint {
  padding: 14px;
  background-color: #efefef;
  color: #fff;
  margin-left: 25px;
}